{% extends "videos/base.html" %} 

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            {% for object in query_list %}
            <div class="card col-md-3 col-sm-12 mr-md-2 at-5 p-3 border-0">
                <a href="{% url "video-detail" object.pk %}"><img src="/media/{{ object.thumbnail }}" width="256" height="144" lt="..."></a>
                <div class="card-body">
                    <a class="link-text" href="{% url "video-detail" object.pk %}"><h5 class="text-center">{{ object.title }}</h5></a>
                    <p class="text-muted text-center m-0">{{ object.uploader }}</p>
                    <p class="text-muted text-center">{{ object.date_posted | date:"M d, Y"}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center mt-3">
            <ul class="pagination">
                {% if query_list.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ query_list.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for num in query_list.paginator.page_range %}
                    <li class="page-item {% if num == query_list.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}
                {% if query_list.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ query_list.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock content%}